{% extends 'base.html' %}



{% block title %} CLIENTES | CREATE {% endblock %}

{% block content %}

<h1>Registro de Cliente</h1>
<form action="{{ url_for('cliente.create') }}" method="POST">
    
    <div class="mb-3">
        <label for="" class="form-label">Usuario</label>
        <input type="text" class="form-control" name="nombre" required>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Numero</label>
        <input type="number" class="form-control" name="numero" required>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">familia</label>
        <input type="text" class="form-control" name="familia" required>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">hora</label>
        <input type="datetime" class="form-control" name="hora" required>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Movil</label>
        <input type="text" class="form-control" name="movil" required>
    </div><div class="mb-3">
        <label for="" class="form-label">Fecha</label>
        <input type="date" class="form-control" name="fecha" required>

        </select>
    </div>
<button type="submit" class="btn btn-primary">Registrar Cliente</button>


</form>

{% endblock %}